*{
    margin: 0;
    padding: 0;
   
}

    html {
        font-size: 100%;
        font-family: 'Oswald', sans-serif;
        
    }

    

    body{
        background-image: url(../img/fondo1\ \(2\).jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    p {
        font-style: oblique;
        font-weight: bold;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    h1 {
        color: white;
        text-align: center;
        font-size: 700px;
        font-family: 'Teko', sans-serif;
        align-content: center;
        margin-top: 5%; }
      
    
    h2 {
        text-align: center; }
/*-----------------CONFIGURACION DE FOOTER---------------------*/
.fab{
    width: 50px;
    text-align: center;
    font-size: 24px;
    
}
.social{
    position: fixed;
    right: 0%;
    top: 0px;
}
.social ul{
    list-style: none;
    padding: 10px;
}
.social a{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.social a:hover{
    padding: 10px 25px;
}
.configRed{
    display:flex;
    
}

.text-center {
    text-align: center !important;
    font-size: 15px;
}


.fab{
    width: 50px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    right: 0%;
    top: 0px;
}
.social ul{
    list-style: none;
    padding: 10px;
}
.social a{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.social a:hover{
    padding: 10px 25px;
}
.configRed{
    display:inline-block;
    
}
.configuracionFooter{
    margin-top: 15%;
    
}
.estiloFooterDelivery{
    margin-top: 15%;
    
    
}

/*--------------CONFIGURAR LOGO DEL MENU-------------*/
    #confLogoBar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    #navbarNav a {
        text-shadow: 0 0 5px, 0 0 5px #0000FF;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap; }
    
    #ajusteLogo:hover {
    transform: rotate(360deg); 
    
}
/*--------------CONFIGURAR MENU--------------*/
    .configurar {
    font-size: 25px;
}    
    #ajusteLogo {
    border-radius: 50%;
    width: 320px;
    height: 317px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
    margin-top: 10%;
    
}

    #parrafoIndex {
    grid-area: parrafo1;
    text-align: center; 
    font-size: 30px;
}

    #carrousel {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    
}







/*-----------------MEDIA QUERY SMARTPHONE----------------*/
@media screen and (max-width: 400px){
    #ajusteLogo {
        border-radius: 50%;
        width: 220px;
        height: 217px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 2s;
        margin-top: 25%;
        
    }
    #confLogoBar{
        display: none;
    }
    
    .moverBotonesCervezas{
       padding-left: 20%;
        
    }

}

/*---------------SECCION NOSOTROS--------------------*/

video{
    width: 100%;
}

#h1-Nosotros{
    margin-top: 15%;
    font-size: 10vh;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    align-content: center;
    text-shadow: 0 0 5px, 0 0 5px #0000FF; 
}
      
  
#parrafo-Nosotros{
      grid-area: parrafo;
      text-align: center;
      font-size: 35px;
      color:white;
    }

/*-------------SECCION BEER&BURGER-------------------*/

#h1-beer{
    margin-top: 10%;
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    align-content: center;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
       
}   
#confCerveza{
  
  border: solid 5px black;
  padding-left: 0px;
  padding-right: 0px;
  
}
#boton1{
    
    background-color: black;
}
#boton2{
    
    background-color: black;

}
#boton3{
      
    background-color: black;

}
#boton4{
    
    background-color: black;
} 



.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-image: url(../img/fondo1\ \(4\).jpg);
background-clip: border-box;
border: 5px solid rgba(0, 0, 0, 0.125);
border-radius: 0.25rem;
}
.card-title {
margin-bottom: 0.75rem;
color: white;
font-size: 170%;
text-shadow: 0 0 5px, 0 0 5px #0000FF;
}
.card-text {
color: white;

}

#tamañoVentana{
width: 350px;
height: 100px;

}
#tamañoBloqueImgCerveza{
width: 100%;
}
.moverBotonesCervezas{
    margin-left: 10%;
    
}

/*----------------BLOQUE DE SECCION DELIVERY&TAKE AWAY-------------------*/



#h1-delivery{
margin-top: 12%;
font-size: 75px;
color: white;
text-align: center;
font-family: 'Teko', sans-serif;
align-content: center;
text-shadow: 0 0 5px, 0 0 5px #0000FF;
}
.card-text{
  margin-top: 5%;
  text-align: center;
  
}
.card-title{
  margin-top: 15%;
  margin-left: 30%;
}
#estiloBotonMenu{
  background-color: black;
  color: blanchedalmond;
  width: 30vh;
  /*margin-left: 0%;*/
  justify-content: center;
  
}
.estiloBotonMenu{
    background-color: blanchedalmond;
    justify-content: center;
    
}
#moverBotonMenu{
    width: 100%;
    justify-content: center;
}

#textoCard{
  font-size: 100px;
  
}

.estiloCardMenu{
    margin-top: 5%;
}

/*-------------------BLOQUE DE SECCION RESERVA-------------------*/
  
/*-------------------ESTILOS DEL FORM SECION RESERVA-------------*/
  .form_main {
    width: 100%;
   
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
    
    
    
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
    
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
.heading{
    color:#ccc;
}
#h1-reserva{
    padding-top: 20%;
    font-size: 75px;
    color: white;
    font-family: 'Teko', sans-serif;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
    
   
}
#posicionMapa{
    margin-top: 3.1%;  
    width: 100%;
    
}
.estiloH1Reserva{
    width: 100%;
}
