* {
    margin: 0;
    padding: 0; }
  
  html {
    font-size: 100%;
    font-family: 'Oswald', sans-serif; }
  
  body{
      background-position: center center;
      background-size: cover;
      background-image: url(../img/fondo1\ \(2\).jpg);
      height: 140vh;

    }
    
  #ajusteLogo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 2s;
    margin-top: 5%;
    
}
  /*CONFIGURAR LOGO DEL MENU*/
  #confLogoBar {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  
/*CONFIGURAR MENU*/
  .configurar {
    font-size: 25px;
}
#navbarNav a {
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
}
  
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; }
  
  #ajusteLogo:hover {
    transform: rotate(360deg); }
  
  p {
    font-style: oblique;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}
  
    .centrar{
    text-align: center;
      
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 700px;
    font-family: 'Teko', sans-serif;
    align-content: center;
    margin-top: 5%; }
  

  h2 {
    text-align: center; }

  
  
  .aplicarGrid {
    display: grid;
    grid-template-areas: "cabeza   cabeza     cabeza"
   "parrafo1   parrafo1    parrafo1"
   "carrousel       carrousel        carrousel"
   "pie        pie         pie";
    grid-template-rows: 0fr 0fr 1fr 0fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0 px;
    grid-row-gap: 0 px;
    height: 140vh; }
  
  header {
    grid-area: cabeza; }
  
  #carrousel {
    grid-area: carrousel;
    height: 50%;
    width: 50%;
    margin-left: 25%; }
  
  #parrafoIndex {
    grid-area: parrafo1;
    text-align: center; 
    font-size: 30px;
}
  
  #modificarImg1 {
    height: 500px;
    width: 400px;
    border: solid 3px black;
    transition: 2s; }
  
  #modificarImg2 {
    height: 500px;
    width: 400px;
    border: solid 3px black;
    transition: 2s; }
  
  #modificarImg3 {
    height: 500px;
    width: 400px;
    border: solid 3px black;
    transition: 2s; }
   
  
  
 
  
  /*BLOQUE DE SECCION NOSOTROS*/
  
  #h1-Nosotros{
    margin-top: 12%;
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    align-content: center;
    text-shadow: 0 0 5px, 0 0 5px #0000FF; 
}
      
  
  #parrafo-Nosotros{
      grid-area: parrafo;
      text-align: center;
      font-size: 35px;
      color:white;
  }
  #video{
      grid-area: video;
      width: 1000px;
      height: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      background-image: url(../img/Back.jpg);
  }
  
  /*BLOQUE DE SECCION BEER&BURGER*/
  
  
  
    #h1-beer{
        margin-top: 10%;
        font-size: 75px;
        margin-right: 70px;
        color: white;
        text-align: center;
        font-family: 'Teko', sans-serif;
        align-content: center;
        text-shadow: 0 0 5px, 0 0 5px #0000FF;
           
    }   
  #confCerveza{
      margin-left: 1.5%;
      border: solid 5px black;
      padding-left: 0px;
      padding-right: 0px;
  }
#boton1{
margin-left: 50%;
background-color: black;
}
#boton2{
    margin-left: 40%;
    background-color: black;
    
}
#boton3{
    margin-left: 10%;  
    background-color: black;
    
}
#boton4{
    margin-right: 50%;
    background-color: black;
} 
.mover{
    margin-top: 200px;
    
    
}

 
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-image: url(../img/fondo1\ \(4\).jpg);
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card-title {
    margin-bottom: 0.75rem;
    color: white;
    font-size: 170%;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
  }
  .card-text {
    color: white;
    
  }
  #tamañoCardHamburguesa{
    width: 18rem;
  }
  
  
  /*BLOQUE DE SECCION DELIVERY&TAKE AWAY*/
  .aplicarGrid-delivery{
      display: grid;
      grid-template-areas: 
      "cabeza   cabeza     cabeza" /* 1er fila */
      "h1-delivery        h1-delivery     h1-delivery"/* 2da fila*/
      "parrafowsp       parrafowsp     parrafowsp" /*3ra fila*/
      "wsp   wsp    wsp"/*4ta fila*/
      "parrafoMapa       parrafoMapa        parrafoMapa"/*5ta fila*/
       "mapa        mapa         mapa"/*6ta fila*/
       "pie           pie         pie"/*7ma fila*/;
      grid-template-rows: 0fr 1fr 0.5fr 1fr 0.5fr 1fr 0fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      grid-row-gap: 1px;
      height: 120vh;
      
  }
  #h1-delivery{
    margin-top: 12%;
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    align-content: center;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
  }
  .card-text{
      margin-top: 5%;
      text-align: center;
      
  }
  .card-title{
      margin-top: 15%;
      margin-left: 30%;
  }
  #estiloBotonMenu{
      background-color: black;
      color: blanchedalmond;
      width: 50vh;
      margin-left: 28%;
   }
  #textoCard{
      font-size: 100px;
  }

  
  #moverTextMap{
      margin-left: 20%;
      font-size: 20px;
  }
  
  #posicionMapa{
  margin-top: 3.1%;  
  
}
#ignorarDesktop{
    display: none;
}


  #parrafowsp{
      grid-area: parrafowsp;
      text-align: center;
      color: white;
  }
  #bloque-wsp{
      grid-area: wsp;
      display: flex;
      justify-content: center;
  }
  #parrafoMapa{
      grid-area: parrafoMapa;
      text-align: center;
      padding-top: 30px;
      color: white;
  }
  #bloque-mapa{
      display: flex;
      grid-area: mapa;
      justify-content: center;
      padding-bottom: 100px;
  }
  /*BLOQUE DE SECCION RESERVA*/
  
  COLOR Y FORMATO AL FORMULARIO*/
  #ColorFormulario {
      padding: 0;
      width: 30%;
      height: 30%;
      margin-left: 35%;
      font-size: 150%;
      color:black;
      font-style: italic;
  }
  .aplicarGrid-reserva{
      display: grid;
      grid-template-areas: 
      "cabeza   cabeza     cabeza" 
      "h1-reserva        h1-reserva       h1-reserva"
      "formulario       formulario     formulario"
      "pie   pie    pie";
  
      grid-template-rows: 0.5fr 0fr 1fr 0fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      height: 120vh;
  }
  
    #h1-reserva{
    padding-top: 20%;
    font-size: 75px;
    color: white;
    font-family: 'Teko', sans-serif;
    padding-right: 76%;
    text-shadow: 0 0 5px, 0 0 5px #0000FF;
    
   
}




  /*smartphone INDEX*/
  @media(max-width: 480px){
      .aplicarGrid{
          display: grid;
          grid-template-areas: 
          "cabeza   cabeza     cabeza" /* 1er fila */
          "parrafo1   parrafo1    parrafo1"/*2da fila*/
          "carrousel       carrousel        carrousel"/*3ra fila*/
           "pie        pie         pie";/*4ta fila*/
          grid-template-rows: 1fr 1fr 5fr 0fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 5px;
          grid-row-gap: 5px;
          
          height: 100vh;
      }
      #carrousel{
          grid-area: carrousel;
          width: 70%;
          margin-left: 15%;
  
          
      }
      #confLogoBar{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: none;
      }
      footer{
          padding-bottom: 0%;
          text-align: center;
          
      }
      .ocultar{
          display: none;
      }
      
      
      
      header{
          margin-left: 19px;
          padding-bottom: 28px;
          margin-right: 74.5%;
          
      }
  
      .menu{ 
          display: flex;
          margin: 0;
          list-style: none;
          padding: 0%;
          justify-content: center;
          flex-wrap: wrap; /*AL CORRER LA PANTALLA ME VA AJUSTANDO LAS OPCIONES DEL MENU PARA AJUSTARSE A LA PANTALLA*/
          flex-direction: row;
          
          /*flex flex-flow: row wrap; /*habrevio flex-wrap y flex-direction con esta opcion*/
      
      }
      .menu li a{
          display: flex;
          padding: 10px;
          color:black;
          font-size: 200%;
          font-weight: bold;/*negrita*/
          align-content: center;
          /*border-style: double;/*bordes sobre los bloques del menu*/
          text-decoration: none;
          /*background-color: black;*/
          font-style: italic;
          color: white;
          font-family: 'Teko', sans-serif;
          position: relative;
      }
      #ajusteLogo{
          border-radius: 50%;
          display: block;
          margin-left: 105px;
          /*margin-right: auto;*/
          width: 100px;
          height: 100px;
          
      }
  
      #modificarImg1{
          height: 200px;  
          width: 700px; 
          border: solid 3px black;
      }
      
      #img2{
          grid-area: img2;
          /*background-color: tan;*/
          text-align: center;
          
          
      
      }
      #modificarImg2{
         border: solid 3px black;
         height: 200px;  
         width: 700px; 
      }
      #img3{
          grid-area: img3;
          /*background-color: yellow;*/
          text-align: center
      }
      #modificarImg3{
          height: 200px;  
          width: 700px; 
          border: solid 3px black;
      }
  
  
  
  }
  
/*Tablet INDEX*/
@media (min-width: 600px) and (max-width: 1023px) {
      
/* GRID AREAS */
    .grillaAreas {
          display: grid;
          grid-template-areas: 
          "cabeza   cabeza     cabeza" /* 1er fila */
          "parrafo1 parrafo1 parrafo1"
          "img1 img2 img3" /* 2da fila */
          "pie       pie      pie"    /* 4ta fila */
          ;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          height: 80vh;}
      
    #parrafoIndex{
          grid-area: parrafo1;
    }
    #ajusteLogo{
          border-radius: 50%;
          display: block;
          margin-left: 40%;
          margin-right: auto;
          width: 150px;
          height: 150px;
    }
  
    #modificarImg1{
        height: 400px;  
        width: 1000px; 
        border: solid 3px black;
    }
      
    #img2{
        grid-area: img2;
        /*background-color: tan;*/
        text-align: center;
    }
    #modificarImg2{
         border: solid 3px black;
         height: 400px;  
          width: 1000px; 
    }
    #img3{
        grid-area: img3;
        /*background-color: yellow;*/
        text-align: center
    }
    #modificarImg3{
        height: 400px;  
        width: 1000px;  
        border: solid 3px black;
    }
    
  
  
  
}
/*FIN MEDIAQUERY INDEX*/


  
.configurar{
      font-size: 25px;
      
}
.navbar-brand {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      
  }
  
#confLogoBar{
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }

.fab{
    width: 50px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    right: 0%;
    top: 0px;
}
.social ul{
    list-style: none;
    padding: 10px;
}
.social a{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.social a:hover{
    padding: 10px 25px;
}
.configRed{
    display:inline-block;
    
}

/*MEDIA QUERY GENERAL PARA SMARTPHONE*/
@media(max-width: 480px){
#video{
    grid-area: video;
      width: 300px;
      height: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      background-image: url(../img/Back.jpg);
  }

#navbarNav{
    background-color: black;
}

#h1-reserva{
    padding-right: 20%;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-image: url(../img/fondo1\ \(4\).jpg);
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 8%;
  }
 #distancia{
     padding-bottom: 35%;
 }
  
 h4{
    text-align: center;
    margin-right: 30%;
}

#moverPedidosYa{
    padding-right: 40px;
}
#moverTextMap{
    text-align: center;
    padding-right:20%;
}
#posicionMapa{
display: none;
}
.tamañoSmartphone{
    height: 180vh;
}
/*BOTONES DE BLOQUE CERVEZAS EN SECCION BEER&BURGER*/
#boton1{
    margin-left: 35%;
    background-color: black;
    }
    #boton2{
        margin-left:35%;
        background-color: black;
        
    }
    #boton3{
        margin-left:35%;  
        background-color: black;
        
    }
    #boton4{
        margin-left: 35%;
        background-color: black;
    } 
    #moverBeer{
        margin-left: 0px;
        padding-left: 100px;
       
    }


    #h1-beer{
        
        font-size: 50px;
    }
    #h1-Nosotros{
        font-size: 50px;
    }
    #h1-delivery{
        font-size: 50px;
    }
    #h1-reserva{
        font-size: 50px;
        margin-right: 55px;
    }
    #confCerveza{
        margin-left: 0%;
        border: solid 5px black;
        padding-left: 0px;
        padding-right: 0px;
    }

/*BOTON DE MENU-CARTA DELIVERY*/
    #estiloBotonMenu{
        background-color: black;
        color: blanchedalmond;
        width: 30vh;
        padding-left: 0%;
     }
     #moverBotonMenu{
         padding-right: 25%;
     }
   
     

}

/*MEDIA QUERY GENERAL PARA TABLET*/
@media (min-width: 600px) and (max-width: 1024px) {

    #video{
        grid-area: video;
          width: 600px;
          height: 600px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 100px;
          background-image: url(../img/Back.jpg);
      }


    

    #tamañoTablet{
        height: 190vh;
    }
    #moverBotonMenu{
        padding-right: 48%;
    }

    #posicionMapa{
        margin-top: 3.9%;  
        width: 400px;
        
      }

      #h1-reserva{
        padding-top: 20%;
        font-size: 75px;
        color: white;
        font-family: 'Teko', sans-serif;
        padding-right: 72%;

      }
      #ajusteLogo {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: 2s;
        margin-top: 10%;
      }
      #carrousel {
        grid-area: carrousel;
        height: 80%;
        width: 80%;
        margin-left: 10%; }

       #tamañoTabletDelivery{
           height: 120vh;
       }
       #tamañoTabletRerva{
           height: 110vh;
       }

       #tamañoCardHamburguesa{
           width: 14.7rem;
       }
       .card-title{
        font-size: 130%;
        text-align:left;

    }

    }




/*ESTILOS DEL FORM SECION RESERVA*/
.form_main {
    width: 100%;
   
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
.heading{
    color:#ccc;
    
}


